body {
    font-family: sans-serif;
    text-align: center;
    background: linear-gradient(180deg, #fff7e8, #ffe9c7, #fffdf8);
    margin: 0;
    padding: 12px;
    color: #2b1608;
}

h1 {
    font-size: 28px;
    margin-bottom: 12px;
    color: #7a2500;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
}

#startScreen,
#gameScreen,
#finishScreen,
#resultScreen {
    max-width: 480px;
    margin: 0 auto;
    background: rgba(255, 252, 245, 0.96);
    padding: 14px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

button {
    width: 90%;
    max-width: 420px;
    padding: 14px;
    font-size: 16px;
    border-radius: 14px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: #d2691e;
    box-shadow: 0 4px 0 #9a4b16;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #9a4b16;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.game-button {
    width: 100%;
    height: 95px;
    padding: 8px;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 6px black;
    border: 3px solid #8b5a2b;
    font-size: 15px;
    line-height: 1.2;
}

.game-button:disabled {
    opacity: 0.5;
}

#messageText {
    font-weight: bold;
    font-size: 16px;
    min-height: 24px;
}
.result-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.result-grid button {
    width: 100%;
    min-height: 70px;
    font-size: 14px;
    padding: 10px;
}

#resultText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#resultText h2 {
    color: #5a3a1e;
    font-size: 28px;
}

#resultText h3 {
    color: #7a2500;
    font-size: 20px;
}

.btn-ura {
    background-image: url("images/ura.jpg");
}

.btn-teikyo {
    background-image: url("images/teikyo.jpg");
}

.btn-sumibi {
    background-image: url("images/sumibi.jpg");
}

.btn-tare2 {
    background-image: url("images/tare2.jpg");
}

.btn-momo {
    background-image: url("images/momo.jpg");
}

.btn-tare {
    background-image: url("images/tare.jpg");
}